<div class="startseite">
<%- cache(element) do -%>
  <%= element_view_for(element) do |el| -%>

        <div id="contentBox" style="margin:10px auto; width:90%">


            <%= el.render :kopflinie %>
            </div>

          <div id="column1" style="float:left; margin:0; width:33%;">

              <%= el.render :links %>

          </div>

          <div id="column2" style="float:left; margin:0;width:33%;">

              <%= el.render :mitte %>

          </div>

          <div id="column3" style="float:left; margin:0;width:33%">

              <%= el.render :rechts %>

          </div>
        </div>



  <%- end -%>
<%- end -%>
</div>
